# Dependencies
node_modules/

# Build output
dist/
build/

# IDE files
# .vscode/ # We also provide a .vscode folder with some basic settings for Visual Studio Code
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
